/* CSS SPECIFIC TO                                              EVERY HTML FILE START */

ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

ul li{
    margin: 0;
	padding-bottom: 10pt;
}

label{
	font-size: 14pt;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(calender.png) no-repeat;
    border-width: thin;
    color: black;
    display: block;
    height: 17px;
    opacity: 1;
    width: 18px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], textarea, select { 
    border: hidden;
}

input:focus{
    outline-style: none;
}

input[type="file"] {
    display: none;
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    background-color:#91D9BF;
    border: none;
    border-radius: 17px;
    color: black;
    margin: auto;
    padding-bottom: 10pt;
    padding-top: 10pt;
    text-align: center;
    text-decoration: none;
    width: 140pt;
}

.grid_container{
    column-gap: 25pt;
    display: grid;
    grid-template-columns: max-content max-content;
    margin-bottom: 5pt;
    margin-left: auto;
    margin-right: auto; 
	width:inherit;
}
body{
	display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	grid-template-columns: max-content auto;
    height: 100%;
    margin: 0;
    padding: 0;
	width: 100%;
}

.nav{
    /* float: left; */
    padding:10pt;
    /* width: 150pt; */
}

h1{
    background-color:#378C7D;
    border-radius: 10px;
    color: white;
    font-size: 16px;
	margin-bottom: 25pt;
	margin-top: 0;
    padding: 5pt;
    text-align: left;
	width: inherit;
}


.img{
    display: inline-block;
}

.main{
    background-color: #F2F1DF;
    border-radius: 10px;
    margin-right: 10pt;
	margin-top: 10pt;
    padding-bottom: 25pt;
}

/*  CSS SPECIFIC TO                                                        EVERY HTML FILE END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                                LANDING PAGE HTML FILE START */

.content{
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
    margin:0 auto;
    width:inherit;
}

.big{
    padding-bottom: 25pt;
    padding-top: 25pt;
    width: 170pt;
}

/* CSS SPECIFIC TO                                                   LANDING PAGE HTML FILE END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                              CREATE EVENT HTML FILE START */

.span{
    display: block;
	margin-left: auto;
	margin-right: auto;
    top: 30px;
	width: inherit;
	width: calc(95%);
}
.red{
	background-color:#F24B59;
    color: white;
    font-weight: bold;
	size: 24pt;
}

.create{
    -webkit-appearance: button;
    -moz-appearance: button;
    /* appearance: button; */
    background-color:#91D9BF;
    border: none;
    border-radius: 10px;
    color: black;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
    width: 175px;
}

.text_input{
    background-color: white;
    border: none;
    border-radius: 5pt;
    font-size: 14px;
    padding-bottom: 3pt;
    padding-top: 3pt;
    width: 253pt;
}

.half{
	width:120pt;
}

.durration_time{
    height: 14px;
    padding-left: 15pt;

}


.create_e_file_input_button{
    height: 23px;
    left: 240px;
    top:490px;
    width: 231px;
}

/* CSS SPECIFIC TO                                                  CREATE EVENT HTML FILE         END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO BOTH                                             CREATE EVENT HTML FILE AND RSVP TO EVENT FILE     END */
form{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.custom_file_upload {
    background-color: #91D9BF;
    border-bottom-right-radius: 5pt;
    border-top-right-radius: 5pt;
    cursor: pointer;
    display: inline-block;
    margin-left: 173pt;
    padding-bottom: 20px;
    padding-top: 6px;
    position: absolute;
    width: 83pt;
    /* float: right; */
}

.file_upload_button_text{
    font-size: 16px;
    left:23px;
    position: absolute;
    top: 4px;
}
.hour_table{
    background-color: white;
	border-radius: 5pt;
	display: grid;
	grid-template-columns: 100pt 35pt 35pt 35pt 35pt 35pt 35pt 35pt;
    padding: 10pt;
    width: fit-content;
}
.selectable_list  .ui-selecting{
	background: #F2F1DF;
}

.selectable_list  .ui-selected{
	background: #91D9BF;
	color: white;
}

.selectable_list, .times{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.selectable_list li:nth-child(4n+1),.times li{
	border-bottom: #F2F1DF 2pt solid;
}
.selectable_list li:hover{
	outline: #91D9BF dotted; 
}
.selectable_list:hover{
	background-color: #F2F1DF50;
}
.selectable_list li:nth-child(n+2){
    color: transparent; 
    font-size: 4pt;
}

.time, .day{
	height: 16pt;
	text-align: center;
}
.selectable_list li:nth-child(n+2){
	color: transparent;
	/* font-size: 1pt; */
	height: 4pt;
}

.note{
	font-size: 65%;
	font-style: italic;
	width: inherit;
}
.feedback{
	display: none;
}
/* CSS SPECIFIC TO BOTH                                             CREATE EVENT HTML FILE AND RSVP TO EVENT FILE      END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                                  RSVP VIEW EVENT HTML FILE         START */

.center{
    display: grid;
    grid-template-rows: max-content;
    justify-content: center;
}

.alert{
    background-color: #91D9BF;
    border-radius: 5pt;
    height:fit-content;
    margin-top: 30px;
    padding:10px; 
    width:fit-content;
}

.inner_layout > div{
    justify-content: center;
}

.switch_container{
    display: inline-block;
    height: 20pt;
    position: relative;
	width: 40pt;
}
  
.password_container{
	display: none;
}

/* the following css code was borrowed from
https://www.w3schools.com/howto/howto_css_switch.asp  I had to adjust the code for this
particular project*/
/* The switch - the box around the slider */
  /* The slider */
  .slider {
    background-color: #F24B59;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 400ms;
    /* -webkit-transition-duration: 400ms; */
  }
  
  .slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition-duration: 400ms;
    /* -webkit-transition-duration: 400ms; */
    width: 18px;
  }
  
  input:checked + .slider {
    background-color: #378C7D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .round{
      border-radius: 10px;
  }

  .round:before {
    border-radius: 50%;
  }

/* END borrowed code */

  /* Hide default HTML checkbox */
.switch input {
    border-radius: 15px;
    opacity: 0;
    width: 40px;
  }

.input_code{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 290px;
}

.input{
    border: none;
    border-radius: 10px;
    height: 25px;
    visibility: hidden;
    width: 290px;
}

/* CSS SPECIFIC TO                                                  RSVP VIEW EVENT HTML FILE         END */

/* ------------------------------------------------------------------------------------------------------- */


/* CSS SPECIFIC TO                                                  RSVP TO EVENT HTML FILE         START */

.rsvp_deadline_text{
    left: 300px;
    position: absolute;
}

.text_input_left_col{
    left: 300px;
    position: absolute;
    top: 80px; 
}

.event_duration_text{
    left: 600px;
    position: absolute;
}

.rsvp_event_window_text{
    left: 300px;
    position: absolute;
    top: 150px;
}

.text_input_participants_name{
    left: 1050px;
    position: absolute;
    top: 80px; 
    width: 380px;
}

.participitants_email_title{
    left: 1050px;
    position: absolute;
    top: 150px;
  }

  .text_input_right_col{
    left: 1050px;
    position: absolute;
    top: 175px; 
    width: 380px;
}

.accept_event_text{
    left: 1050px;
    position: absolute;
    top: 250px;
}

.decline_rsvp{
    /* left: -148px; */
    position: relative;
    top: 30px;
}

.accept_rsvp{
    left: -65px;
    position: relative;
    top: 30px;
}

.switch2 {
    height: 25px;
    left: 39%; 
    position: absolute;
    text-align: center;
    top: 33%;
    width: 53px;
  }
  
  .switch2 input {
    border-radius: 15px;
    height: 0;
    opacity: 0;
    width: 0;
  }

  .slider_container{
    display: inline-block;
    position: relative;
  }

  .slider2{
    /* left: -60px; */
    position: absolute;
  }

  .participants_cal_text{
    left: 1050px;
    position: absolute;
    top: 350px;
}

.participants_name{
    left: 1050px;
    position: absolute;
}

.rsvp_to_event_calender_upload{
    left: 700px;
    margin-left: 40px;
    position: absolute;
}


.rsvp_to_event_file_input_button{
    height: 23px;
    left: 1010px;
    position: absolute;
    top: 380px;
    width: 260px;
}

.rsvp_to_event_label{
    left: 1315px;
    position: absolute;
    top: 380px;
}


/* CSS SPECIFIC TO                                                  RSVP TO EVENT HTML FILE         END */