.img{
    height: 65px;
    width: 160px; 
    display: inline-block;
}

/* .titlelabel{
    font-weight: bold;
    font-size: larger;
    vertical-align: center;
    position: relative;
    top:17%;
} */

/* .input1{
    color: black;
    font-size: 14px;
    height: 18px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
label.label1{
    font-size: 20px;
    position: relative;

}
div.userInput{
    position: relative;
    top: 10%;
    left: 20px;
} */

.textInput{
	padding: 3pt;
    width: 250pt;
	border-radius: 5pt;
    border: none;
	font-size: 14px;
	background-color: white;
}
.durration_time{
    padding-left: 15pt;
    height: 14px;
}
.half{
	width:120pt;
}

button.schedule{
    height: 30px;
    width: 92%;
    border-radius: 10px;
    background-color:#F24B59;
    color: white;
    font-size: 16px;
    text-align: center; 
    border: none;
    position: absolute;
    top: 68%;
    left: 4%;
}

/* div.userbuttons{
    position: relative;
    top: 5%;
    left: 42%;
} */

.rsvp{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: black;

    height: 40px;
    width: 175px;
    border-radius: 10px;
    background-color:#91D9BF;
    padding:20px;
    margin-top: 20px;
    border: none;
}

.create{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: black;

    height: 40px;
    width: 175px;
    border-radius: 10px;
    background-color:#91D9BF;
    padding: 20px;
    margin-top: 20px;
    border: none;
}

.create_event_text{
    position: relative;
    top: -6px;
    left: 6px;

    font-size: 12px;
}

.edit_event_text{
    position: absolute;
    top: -6px;
    left: 10px;
    font-size: 12px;
}
.rsvp_to_event_text{
    position: absolute;
    top: -6px;
    left: 8px;
    font-size: 12px;
}
.schedule_event_text{
    position: absolute;
    top: -6px;
    left: 9px;
    font-size: 12px;
}

.textEvent{
    font-size: 20px;
    margin-left: 2px;
    visibility: hidden;
}
 .input{
    height: 25px;
    width: 290px;
    border-radius: 10px;
    border: none;
    visibility: hidden;
}
.input_code{
        height: 25px;
        width: 290px;
        border-radius: 10px;
        border: none;
}



/* START rsvp css */
.center{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.textParticipant{
    font-size: 18px;
    margin-right: 6px;
    position: relative;
    top: 8px;
    left: -5px;
}

.textOrganizer{
    font-size: 18px;
    position: relative;
    top: 8px;
    left: 10px;
}
.submit{
    position: relative;
    top: -5px;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    background-color:#F24B59;
    color: white;
    font-size: 16px;
    text-align: center; 
    border: none;
}

.inner_layout{

    background-color: #91D9BF;
    border-radius: 10px;
    height:230px;
    width:330px;
    padding:10px; 
    margin-top: 30px;
}
.inner_layout > div{
    justify-items: center;
}
.switch_container{
    position: relative;
    top: -60px;
}
.password_container{
    position: relative;
    top: -30px;
}

/* the following css code was borrowed from
https://www.w3schools.com/howto/howto_css_switch.asp  I had to adjust the code for this
particular project*/
/* The switch - the box around the slider */


.switch {
    position: relative;
    width: 45px;
    height: 30px;
    top: 8px;
    left: 0px; 
    text-align: center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 40px;
    height: 0px;
    border-radius: 15px;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F24B59;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #378C7D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

 /* END of borrowed code */

/* END rsvpView css */

.switch2 {
    position: absolute;
    width: 53px;
    height: 25px;
    top: 33%;
    left: 39%; 
    text-align: center;
  }
  
  /* Hide default HTML checkbox */
  .switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 15px;
  }
  /* .text_accept{
    font-size: 18px;
    margin-left: 10px;
    position: absolute;
    top: 34%;
    left: -65px;
  } */
  /* .text_decline{
    font-size: 18px;
    margin-right: 6px;
    position: absolute;
    top: 34%;
    left: 80px;
    font-size: 18px;
  } */
  .slider2_container{
      position: relative;
      top: -10px;
      left: 120px;
  }
  .slider2{
      position: absolute;
      left: -60px;
  }
  .participants_name{
    position: relative;
    left: 810px;
    top: -70px;
  }
  .participitants_email_title{
    position: relative;
    left: -28px;
    top: -25px;
  }
  button.rsvp_button{
    height: 25px;
    width: 400px;
    border-radius: 10px;
    background-color:#F24B59;
    color: white;
    font-size: 16px;
    text-align: center; 
    border: none;
    position: relative;
    top: 150px;
    left: -26px;
}

input[type="file"] {
    display: none;
}

.cal_file_upload{
    font-size: 16px;
}

.create_event_calender_upload{
    margin-left: 40px;
}

.rsvp_to_event_calender_upload{
    margin-left: 40px;
    position: relative;
    left: 700px;
}

.custom_file_upload {
    position: absolute;
    height: 0px;
    width: 75px;
    border-radius: 0px 10px 10px 0px;

    background-color: #91D9BF;
    display: inline-block;
    padding-top: 6px;
    padding-left: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}
/*
.butt_block{
	width: 250pt;
	display: block;
	overflow: hidden;
}
.butt_left{

	width:60%;
	border-radius: 5pt 0pt 0pt 5pt;
	/* overflow: hidden; */
	/* vertical-align:top;
	display: inline-block;
} */
.create_event_label{
    top: 490px;
    left: 516px;

}

.rsvp_to_event_label{
    position: relative;
    top: 57px;
    left: 1075px;
}

.fixed_input{
    position: absolute;
    border-radius: 7px 0px 0px 7px;
    margin-left: 40px;
    border: none;
    font-size: 16px;
}
.create_e_file_input_button{
    top:490px;
    left: 240px;
    height: 23px;
    width: 231px;
}

.rsvp_to_event_file_input_button{
    position: relative;
    top:50px;
    left: 660px;
    height: 23px;
    width: 260px;
}

.file_upload_button_text{
    position: absolute;
    left:23px;
    top: 4px;
    font-size: 16px;
}


input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], textarea, select { 
	outline: none;
	border: hidden;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav{
    padding:10pt;
    width: 150pt;
    float: left;
}
h1{
    width: inherit;
    padding: 5pt;
    border-radius: 10px;
    background-color:#378C7D;
    color: white;
    font-size: 16px;
    text-align: left;
    position: sticky;
}


.img{
    height: 65px;
    width: 160px; 
    display: inline-block;
}

main {
    margin-left: 180pt;
    margin-right: auto;
    margin-top: 10pt;
    background-color: #F2F1DF;
    min-height: calc(100vh - 20px);
    border-radius: 10px;
}
.content{
    margin:0 auto;
    width:inherit;
}
.rsvpinput{
    height: 25px;
    width: 250px;
    border-radius: 7px;
    position: relative;
    border: none;
    font-size: 16px;
}
.text_input_participants_name{
    width: 380px;
    left: 810px;
    top: -70px; 
}
.text_input_right_col{
    width: 380px;
    left: -25px;
    top: -30px; 
}
.decline_rsvp{
    position: relative;
    top: 30px;
    left: -148px;
}
.accept_rsvp{
    position: relative;
    top: 30px;
    left: -65px;
}
.accept_event_text{
    position: relative;
    left: 810px;
    top: -10px;
}
.participants_cal_text{
    position: relative;
    left: 810px;
    top: 55px;
}
.text_input_left_col{
    left: 40px; 
}
.event_duration_text{
    position: relative;
    left: -510px;
    top: -22px;
}
.rsvp_event_window_text{
    position: relative;
    left: -790px;
    top: 30px;
}

.event_duration_input_box{
	padding: 3pt;
    width: 250pt;
	border-radius: 5pt;
    border: none;
	font-size: 14px;
    background-color: white;
    position: relative;
    top: -25px;
    left: 320px;
}
.rsvp_deadline_text{
    position: relative;
    left: 40px;
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

    color: black;

    width: 120pt;
    padding: 6pt;
    margin: auto;
    text-align: center;
    border-radius: 17px;
    background-color:#91D9BF;
    border: none;
    position: relative;
    /* top: 10%;
    left: 1%; */
}
.big{
    width: 120pt;
    padding: 25pt
}
.gridContainer{
    width:inherit;
    display: grid;
    grid-template-columns: auto auto; 
}
gridContainer1{
    width:inherit;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 15px;
}

.gridContainer1 > div{
    grid-auto-columns: 15px;
    margin: 1em;
}
.span{
	/* width: inherit; */
    margin: auto;
    width: 1500px;
    left: 85px;
    top: 30px;
}
.red{
	background-color:#F24B59;
	color: white;
	size: 24pt;
	font-weight: bold;
}
ul{
	list-style: none;
}
ul li{
	padding-bottom: 10pt;
}
label{
	font-size: 14pt;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(calender.png) no-repeat;
    width: 18px;
    height: 17px;
    border-width: thin;
}

/* landing page */
div.content{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}