/* CSS SPECIFIC TO                                              EVERY HTML FILE START */

ul{
	list-style: none;
}

ul li{
	padding-bottom: 10pt;
}

label{
	font-size: 14pt;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(calender.png) no-repeat;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    height: 17px;
    display: block;
    opacity: 1;
    width: 18px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], textarea, select { 
    border: hidden;
    outline: none;
}

input[type="file"] {
    display: none;
}

.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#91D9BF;
    border: none;
    border-radius: 17px;
    color: black;
    margin: auto;
    padding: 6pt;
    text-align: center;
    text-decoration: none;
    width: 120pt;
}

.gridContainer{
    display: grid;
	grid-template-columns: max-content max-content; 
	grid-gap: 25pt;
    width:inherit;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
	width: 100%;
	display: grid;
	grid-template-columns: 200pt auto;
}

nav{
    /* float: left; */
    padding:10pt;
    /* width: 150pt; */
}

h1{
    background-color:#378C7D;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding: 5pt;
    text-align: left;
	width: inherit;
	margin-top: 0;
	margin-bottom: 25pt;
}


.img{
    display: inline-block;
    height: 65px;
    width: 160px; 
}

main{
    background-color: #F2F1DF;
    border-radius: 10px;
    /* margin-left: 180pt;
    margin-right: auto;
    margin-top: 10pt; */
	/* min-height: calc(99vh); */
	padding-bottom: 25pt;
}

/*  CSS SPECIFIC TO                                                        EVERY HTML FILE END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                                LANDING PAGE HTML FILE START */

.content{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin:0 auto;
    width:inherit;
}

.big{
    padding: 25pt;
    width: 120pt;
}

/* CSS SPECIFIC TO                                                   LANDING PAGE HTML FILE END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                              CREATE EVENT HTML FILE START */

.span{
    /* left: 85px; */
	margin-left: auto;
	margin-right: auto;
    top: 30px;
	width: inherit;
	width: calc(95%);
	display: block;
}
.red{
	background-color:#F24B59;
    color: white;
    font-weight: bold;
	size: 24pt;
}

.create{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color:#91D9BF;
    border: none;
    border-radius: 10px;
    color: black;
    height: 40px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    width: 175px;
}

.textInput{
    background-color: white;
    border: none;
    border-radius: 5pt;
    font-size: 14px;
	padding: 3pt;
    width: 250pt;
}

.half{
	width:120pt;
}

.durration_time{
    height: 14px;
    padding-left: 15pt;

}


.create_e_file_input_button{
    height: 23px;
    left: 240px;
    top:490px;
    width: 231px;
}

/* CSS SPECIFIC TO                                                  CREATE EVENT HTML FILE         END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO BOTH                                             CREATE EVENT HTML FILE AND RSVP TO EVENT FILE     END */
form{
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.custom_file_upload {
    background-color: #91D9BF;
    border-radius: 0 5pt 5pt 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    display: inline-block;
    height: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 6px;
    position: absolute;
    width: 60pt;
    /* float: right; */
	margin-left: 173pt;
}
.fixed_input{
    border: none;
    border-radius: 7px 0px 0px 7px;
    font-size: 16px;
    /* margin-left: 40px;
    position: absolute; */
}

.file_upload_button_text{
    font-size: 16px;
    left:23px;
    position: absolute;
    top: 4px;
}
#hourTable{
	display: grid;
	grid-template-columns: 100pt 35pt 35pt 35pt 35pt 35pt 35pt 35pt;
	background-color: white;
	border-radius: 5pt;
	width: fit-content;
	padding: 10pt;
}
.selectableList  .ui-selecting{
	background: #F2F1DF;
}

.selectableList  .ui-selected{
	background: #91D9BF;
	color: white;
}

.selectableList, .times{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.selectableList li:nth-child(4n+1),.times li{
	border-bottom: #F2F1DF 2pt solid;
}
.selectableList li:hover{
	outline: #91D9BF dotted; 
}
.selectableList:hover{
	background-color: #F2F1DF50;
}
.selectableList li:nth-child(n+2)
{color: transparent; font-size: 4pt;}
.time, .day{
	height: 16pt;
	text-align: center;
}
.selectableList li:nth-child(n+2){
	color: transparent;
	/* font-size: 1pt; */
	height: 4pt;
}

.note{
	font-size: 65%;
	font-style: italic;
	width: inherit;
}
/* CSS SPECIFIC TO BOTH                                             CREATE EVENT HTML FILE AND RSVP TO EVENT FILE      END */

/* ------------------------------------------------------------------------------------------------------- */

/* CSS SPECIFIC TO                                                  RSVP VIEW EVENT HTML FILE         START */

.center{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.textParticipant{
    font-size: 18px;
    left: -5px;
    margin-right: 6px;
    position: relative;
    top: 8px;
}

.textOrganizer{
    font-size: 18px;
    left: 10px;
    position: relative;
    top: 8px;
}

.submit{
    background-color:#F24B59;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    height: 25px;
    position: relative;
    text-align: center; 
    top: -5px;
    width: 300px;
}

.inner_layout{
    background-color: #91D9BF;
    border-radius: 10px;
    height:230px;
    margin-top: 30px;
    padding:10px; 
    width:330px;
}
.inner_layout > div{
    justify-items: center;
}
.switch_container{
    position: relative;
    top: -60px;
}
.password_container{
    position: relative;
    top: -30px;
}

/* the following css code was borrowed from
https://www.w3schools.com/howto/howto_css_switch.asp  I had to adjust the code for this
particular project*/
/* The switch - the box around the slider */
  /* The slider */
  .slider {
    -webkit-transition: .4s;
    background-color: #F24B59;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    -webkit-transition: .4s;
    background-color: white;
    bottom: 4px;
    content: "";
    height: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 18px;
  }
  
  input:checked + .slider {
    background-color: #378C7D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* END borrowed code */

.switch {
    height: 30px;
    left: 0px; 
    position: relative;
    text-align: center;
    top: 8px;
    width: 45px;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    border-radius: 15px;
    height: 0px;
    opacity: 0;
    width: 40px;
  }

.textEvent{
    font-size: 20px;
    margin-left: 2px;
    visibility: hidden;
}

.input_code{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 290px;
}

.input{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 290px;
    visibility: hidden;
}

/* CSS SPECIFIC TO                                                  RSVP VIEW EVENT HTML FILE         END */

/* ------------------------------------------------------------------------------------------------------- */


/* CSS SPECIFIC TO                                                  RSVP TO EVENT HTML FILE         START */

.rsvp_deadline_text{
    left: 300px;
    position: absolute;
}

.rsvpinput{
    border: none;
    border-radius: 7px;
    font-size: 16px;
    height: 25px;
    position: relative;
    width: 250px;
}

.text_input_left_col{
    left: 300px;
    position: absolute;
    top: 80px; 
}

.event_duration_text{
    left: 600px;
    position: absolute;
}

.event_duration_input_box{
    background-color: white;
    border: none;
    border-radius: 5pt;
    font-size: 14px;
    left: 600px;
    padding: 3pt;
    position: absolute;
    top: 80px;
    width: 250pt;
}

.rsvp_event_window_text{
    left: 300px;
    position: absolute;
    top: 150px;
}

.text_input_participants_name{
    left: 1050px;
    position: absolute;
    top: 80px; 
    width: 380px;
}

.participitants_email_title{
    left: 1050px;
    position: absolute;
    top: 150px;
  }

  .text_input_right_col{
    left: 1050px;
    position: absolute;
    top: 175px; 
    width: 380px;
}

.accept_event_text{
    left: 1050px;
    position: absolute;
    top: 250px;
}

.decline_rsvp{
    left: -148px;
    position: relative;
    top: 30px;
}

.accept_rsvp{
    left: -65px;
    position: relative;
    top: 30px;
}

.switch2 {
    height: 25px;
    left: 39%; 
    position: absolute;
    text-align: center;
    top: 33%;
    width: 53px;
  }
  
  .switch2 input {
    border-radius: 15px;
    height: 0;
    opacity: 0;
    width: 0;
  }

  .slider2_container{
      left: 1200px;
      position: absolute;
      top: 250px;
  }

  .slider2{
    left: -60px;
    position: absolute;
  }

  .participants_cal_text{
    left: 1050px;
    position: absolute;
    top: 350px;
}


.participants_name{
    left: 1050px;
    position: absolute;
}

.cal_file_upload{
    font-size: 16px;
}

.rsvp_button{
    background-color:#F24B59;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    height: 25px;
    left: 1050px;
    position: absolute;
    text-align: center; 
    top: 470px;
    width: 400px;
}

.rsvp_to_event_calender_upload{
    left: 700px;
    margin-left: 40px;
    position: absolute;
}


.rsvp_to_event_file_input_button{
    height: 23px;
    left: 1010px;
    position: absolute;
    top: 380px;
    width: 260px;
}

.rsvp_to_event_label{
    left: 1315px;
    position: absolute;
    top: 380px;
}


/* CSS SPECIFIC TO                                                  RSVP TO EVENT HTML FILE         END */